SaqueComplementarBmg/SaqueComplementarBmg/Web References/bmgConsigReference/SaqueComplementar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:impl="http://localhost:8080/webservices/SaqueComplementar" xmlns:tns2="http://parameter.common.econsig.bmg.com" xmlns:tns4="http://model.common.econsig.bmg.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="http://webservice.econsig.bmg.com" xmlns:tns3="http://parameter.consignacao.econsig.bmg.com" xmlns:tns6="http://exception.common.consig.bmg.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns5="http://lang.java" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://localhost:8080/webservices/SaqueComplementar" targetNamespace="http://localhost:8080/webservices/SaqueComplementar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.econsig.bmg.com">
      <xsd:import namespace="http://exception.common.consig.bmg.com" />
      <xsd:import namespace="http://model.common.econsig.bmg.com" />
      <xsd:import namespace="http://localhost:8080/webservices/SaqueComplementar" />
      <xsd:import namespace="http://lang.java" />
      <xsd:import namespace="http://parameter.consignacao.econsig.bmg.com" />
      <xsd:import namespace="http://parameter.common.econsig.bmg.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="AbstractWebServicesParameter" abstract="true">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="WebServiceParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:AbstractWebServicesParameter">
            <xsd:sequence>
              <xsd:element name="login" nillable="true" type="soapenc:string" />
              <xsd:element name="senha" nillable="true" type="soapenc:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CartaoDisponivelParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns2:WebServiceBaseParameter">
            <xsd:sequence>
              <xsd:element name="codigoEntidade" type="xsd:int" />
              <xsd:element name="cpf" nillable="true" type="soapenc:string" />
              <xsd:element name="senhaConsig" nillable="true" type="soapenc:string" />
              <xsd:element name="sequencialOrgao" nillable="true" type="soapenc:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DadosLimiteDeSaque">
        <xsd:sequence>
          <xsd:element name="disponivelCompra" type="xsd:double" />
          <xsd:element name="limiteCalculado" type="xsd:double" />
          <xsd:element name="limiteCalculadoCompras" type="xsd:double" />
          <xsd:element name="limiteDeCredito" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DadosCartaoParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:CartaoDisponivelParameter">
            <xsd:sequence>
              <xsd:element name="agregacaoDeMargemParaSaqueComplementar" nillable="true" type="xsd:boolean" />
              <xsd:element name="codigoTipoSeguro" nillable="true" type="soapenc:int" />
              <xsd:element name="cpfImpedidoComissionar" type="xsd:boolean" />
              <xsd:element name="dadosLimiteDeSaqueComplementar" nillable="true" type="tns1:DadosLimiteDeSaque" />
              <xsd:element name="ipUsuario" nillable="true" type="soapenc:string" />
              <xsd:element name="matricula" nillable="true" type="soapenc:string" />
              <xsd:element name="matriculaInstituidor" nillable="true" type="soapenc:string" />
              <xsd:element name="numeroContaInterna" nillable="true" type="xsd:long" />
              <xsd:element name="script" nillable="true" type="soapenc:string" />
              <xsd:element name="tipoSaque" type="xsd:int" />
              <xsd:element name="valorAgregacaoDeMargemParaSaqueComplementar" nillable="true" type="soapenc:double" />
              <xsd:element name="vinculoMatricula" nillable="true" type="soapenc:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AgenciaParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:AbstractWebServicesParameter">
            <xsd:sequence>
              <xsd:element name="digitoVerificador" nillable="true" type="soapenc:string" />
              <xsd:element name="numero" nillable="true" type="soapenc:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BancoParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:AbstractWebServicesParameter">
            <xsd:sequence>
              <xsd:element name="numero" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBoleto">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns3:BoletoParameter[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TelefoneParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:AbstractWebServicesParameter">
            <xsd:sequence>
              <xsd:element name="ddd" nillable="true" type="soapenc:string" />
              <xsd:element name="numero" nillable="true" type="soapenc:string" />
              <xsd:element name="ramal" nillable="true" type="soapenc:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ContaParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:AbstractWebServicesParameter">
            <xsd:sequence>
              <xsd:element name="digitoVerificador" nillable="true" type="soapenc:string" />
              <xsd:element name="numero" nillable="true" type="soapenc:string" />
              <xsd:element name="tipoConta" nillable="true" type="soapenc:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EletroParameter">
        <xsd:sequence>
          <xsd:element name="codigo" nillable="true" type="soapenc:int" />
          <xsd:element name="descricao" nillable="true" type="soapenc:string" />
          <xsd:element name="quantidade" nillable="true" type="soapenc:int" />
          <xsd:element name="valorUnidade" nillable="true" type="soapenc:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Seguro">
        <xsd:sequence>
          <xsd:element name="capitalSegurado" type="xsd:double" />
          <xsd:element name="descricaoSeguro" nillable="true" type="soapenc:string" />
          <xsd:element name="tipoSeguro" type="xsd:int" />
          <xsd:element name="valorDoSeguro" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSeguro">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:Seguro[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SaqueComplementarParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:DadosCartaoParameter">
            <xsd:sequence>
              <xsd:element name="aberturaContaPagamento" nillable="true" type="soapenc:int" />
              <xsd:element name="agencia" nillable="true" type="tns1:AgenciaParameter" />
              <xsd:element name="banco" nillable="true" type="tns1:BancoParameter" />
              <xsd:element name="bancoOrdemPagamento" type="xsd:int" />
              <xsd:element name="boletoPagamento" nillable="true" type="tns1:ArrayOfBoleto" />
              <xsd:element name="celular1" nillable="true" type="tns1:TelefoneParameter" />
              <xsd:element name="codigoFormaEnvioTermo" nillable="true" type="soapenc:string" />
              <xsd:element name="codigoLoja" nillable="true" type="soapenc:int" />
              <xsd:element name="codigoSituacaoServidor" nillable="true" type="soapenc:int" />
              <xsd:element name="conta" nillable="true" type="tns1:ContaParameter" />
              <xsd:element name="cpfAgente" nillable="true" type="soapenc:string" />
              <xsd:element name="email" nillable="true" type="soapenc:string" />
              <xsd:element name="finalidadeCredito" type="xsd:int" />
              <xsd:element name="formaCredito" type="xsd:int" />
              <xsd:element name="listaEletro" nillable="true" type="intf:ArrayOf_tns1_EletroParameter" />
              <xsd:element name="numeroExterno" nillable="true" type="soapenc:int" />
              <xsd:element name="protocoloMultiProdutos" nillable="true" type="xsd:long" />
              <xsd:element name="seguros" nillable="true" type="tns1:ArrayOfSeguro" />
              <xsd:element name="telefoneFixoOuCelular" nillable="true" type="tns1:TelefoneParameter" />
              <xsd:element name="valorSaque" nillable="true" type="soapenc:double" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SaqueComplementarLojistaParceiroParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:SaqueComplementarParameter">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CartaoRetorno">
        <xsd:sequence>
          <xsd:element name="cpfImpedidoComissionar" type="xsd:boolean" />
          <xsd:element name="entidade" nillable="true" type="soapenc:string" />
          <xsd:element name="liberado" type="xsd:boolean" />
          <xsd:element name="matricula" nillable="true" type="soapenc:string" />
          <xsd:element name="mensagemImpedimento" nillable="true" type="soapenc:string" />
          <xsd:element name="numeroAdesao" nillable="true" type="soapenc:string" />
          <xsd:element name="numeroCartao" nillable="true" type="soapenc:string" />
          <xsd:element name="numeroContaInterna" nillable="true" type="xsd:long" />
          <xsd:element name="orgao" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCartaoRetorno">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:CartaoRetorno[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FormaEnvioRetorno">
        <xsd:sequence>
          <xsd:element name="codigo" nillable="true" type="soapenc:int" />
          <xsd:element name="descricao" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFormaEnvioRetorno">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:FormaEnvioRetorno[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CartaoDisponivelRetorno">
        <xsd:sequence>
          <xsd:element name="agregacaoDeMargemParaSaqueComplementar" type="xsd:boolean" />
          <xsd:element name="cartoesRetorno" nillable="true" type="tns1:ArrayOfCartaoRetorno" />
          <xsd:element name="formasEnvio" nillable="true" type="tns1:ArrayOfFormaEnvioRetorno" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ServiceException">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="CustoEfetivoTotal">
        <xsd:sequence>
          <xsd:element name="dataPrimeiroVencimento" nillable="true" type="xsd:dateTime" />
          <xsd:element name="dataUltimoVencimento" nillable="true" type="xsd:dateTime" />
          <xsd:element name="percentualCETAnual" nillable="true" type="soapenc:double" />
          <xsd:element name="percentualCETMensal" nillable="true" type="soapenc:double" />
          <xsd:element name="spreadDaOperacao" nillable="true" type="soapenc:float" />
          <xsd:element name="spreadMinimo" nillable="true" type="soapenc:float" />
          <xsd:element name="taxaCalculada" nillable="true" type="soapenc:double" />
          <xsd:element name="taxaFormaCredito" nillable="true" type="soapenc:double" />
          <xsd:element name="valorCadastro" nillable="true" type="soapenc:double" />
          <xsd:element name="valorCalculadoIof" nillable="true" type="soapenc:double" />
          <xsd:element name="valorComissao" nillable="true" type="soapenc:double" />
          <xsd:element name="valorFinanciado" nillable="true" type="soapenc:double" />
          <xsd:element name="valorIof" nillable="true" type="soapenc:double" />
          <xsd:element name="valorOutros" nillable="true" type="soapenc:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustoEfetivoTotalParaCartaoCliente">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:CustoEfetivoTotal">
            <xsd:sequence>
              <xsd:element name="dataIof" nillable="true" type="xsd:dateTime" />
              <xsd:element name="diaDeVencimento" type="xsd:int" />
              <xsd:element name="percentualDeLimiteDoSaque" type="xsd:int" />
              <xsd:element name="taxaJurosAnual" type="xsd:double" />
              <xsd:element name="taxaJurosAnualParaOServico" type="xsd:double" />
              <xsd:element name="taxaJurosMensal" type="xsd:double" />
              <xsd:element name="taxaJurosMensalParaOServico" type="xsd:double" />
              <xsd:element name="valorCetAnual" type="xsd:double" />
              <xsd:element name="valorCetAnualParaOServico" type="xsd:double" />
              <xsd:element name="valorCetMensal" type="xsd:double" />
              <xsd:element name="valorCetMensalParaOServico" type="xsd:double" />
              <xsd:element name="valorIofAdicional" type="xsd:double" />
              <xsd:element name="valorTarifa" type="xsd:double" />
              <xsd:element name="valorTarifaDeEmissao" type="xsd:double" />
              <xsd:element name="valorTarifaParaSaqueAutorizado" type="xsd:double" />
              <xsd:element name="valorTarifaParaSaqueComplementar" type="xsd:double" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ResultadoConsultaElegibilidadeDeSeguro">
        <xsd:sequence>
          <xsd:element name="elegivel" type="xsd:boolean" />
          <xsd:element name="motivoDeNaoEligibilidade" nillable="true" type="soapenc:string" />
          <xsd:element name="seguro" nillable="true" type="tns1:Seguro" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LimiteSaqueRetorno">
        <xsd:sequence>
          <xsd:element name="cet" nillable="true" type="tns1:CustoEfetivoTotal" />
          <xsd:element name="cetSaqueComplementar" nillable="true" type="tns1:CustoEfetivoTotalParaCartaoCliente" />
          <xsd:element name="excecaoDeRegraDeNegocio" type="xsd:boolean" />
          <xsd:element name="excecaoGenerica" type="xsd:boolean" />
          <xsd:element name="limiteCartao" type="xsd:double" />
          <xsd:element name="mensagemDeErro" nillable="true" type="soapenc:string" />
          <xsd:element name="permiteAberturaContaPagamento" type="xsd:boolean" />
          <xsd:element name="resultadoConsultaElegibilidadeDeSeguro" nillable="true" type="tns1:ResultadoConsultaElegibilidadeDeSeguro" />
          <xsd:element name="valorMargem" type="xsd:double" />
          <xsd:element name="valorSaqueMaximo" type="xsd:double" />
          <xsd:element name="valorSaqueMinimo" type="xsd:double" />
          <xsd:element name="valorSaqueParaMargemComplementarComAgregacaoDeMargem" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PropostaConsignacaoListException">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="ScriptIdentificacaoParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns2:WebServiceBaseParameter">
            <xsd:sequence>
              <xsd:element name="codigoEntidade" type="xsd:int" />
              <xsd:element name="cpf" nillable="true" type="soapenc:string" />
              <xsd:element name="nomeCliente" nillable="true" type="soapenc:string" />
              <xsd:element name="senhaConsig" nillable="true" type="soapenc:string" />
              <xsd:element name="sequencialOrgao" nillable="true" type="soapenc:int" />
              <xsd:element name="tipoSaque" nillable="true" type="soapenc:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ValidaSeJaPossuiContaCartaoParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:WebServiceParameter">
            <xsd:sequence>
              <xsd:element name="codigoEntidade" type="xsd:int" />
              <xsd:element name="cpf" nillable="true" type="soapenc:string" />
              <xsd:element name="matricula" nillable="true" type="soapenc:string" />
              <xsd:element name="matriculaInstituidor" nillable="true" type="soapenc:string" />
              <xsd:element name="sequencialOrgao" nillable="true" type="soapenc:int" />
              <xsd:element name="vinculoMatricula" nillable="true" type="soapenc:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ValidaSeJaPossuiContaCartaoRetorno">
        <xsd:sequence>
          <xsd:element name="excecaoDeRegraDeNegocio" type="xsd:boolean" />
          <xsd:element name="excecaoGenerica" type="xsd:boolean" />
          <xsd:element name="mensagemDeErro" nillable="true" type="soapenc:string" />
          <xsd:element name="numeroCartao" nillable="true" type="soapenc:string" />
          <xsd:element name="numeroInternoConta" nillable="true" type="xsd:long" />
          <xsd:element name="permiteAssociarContaPagamentoCartao" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObtemProdutosDeSeguroParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns2:WebServiceBaseParameter">
            <xsd:sequence>
              <xsd:element name="codigoEntidade" type="xsd:int" />
              <xsd:element name="cpf" nillable="true" type="soapenc:string" />
              <xsd:element name="dataDeNacimento" nillable="true" type="xsd:dateTime" />
              <xsd:element name="sequencialOrgao" nillable="true" type="soapenc:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TipoProdutoSeguro">
        <xsd:sequence>
          <xsd:element name="codigoTipoSeguro" type="xsd:int" />
          <xsd:element name="descricaoProdutoSeguro" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTipoProdutoSeguro">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:TipoProdutoSeguro[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ObtemProdutosDeSeguroRetorno">
        <xsd:sequence>
          <xsd:element name="excecaoDeRegraDeNegocio" type="xsd:boolean" />
          <xsd:element name="excecaoGenerica" type="xsd:boolean" />
          <xsd:element name="mensagemDeErro" nillable="true" type="soapenc:string" />
          <xsd:element name="tiposDeSeguro" nillable="true" type="tns1:ArrayOfTipoProdutoSeguro" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SituacaoFuncionalParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns2:WebServiceBaseParameter">
            <xsd:sequence>
              <xsd:element name="codigoEntidade" type="xsd:int" />
              <xsd:element name="sequencialOrgao" nillable="true" type="soapenc:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SituacaoServidor">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns4:WebServiceBean">
            <xsd:sequence>
              <xsd:element name="codigo" type="xsd:int" />
              <xsd:element name="descricao" nillable="true" type="soapenc:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSituacaoServidor">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:SituacaoServidor[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SituacaoFuncionalReturn">
        <xsd:sequence>
          <xsd:element name="excecaoDeRegraDeNegocio" type="xsd:boolean" />
          <xsd:element name="excecaoGenerica" type="xsd:boolean" />
          <xsd:element name="mensagemDeErro" nillable="true" type="soapenc:string" />
          <xsd:element name="situacoesServidor" nillable="true" type="tns1:ArrayOfSituacaoServidor" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DadosAssinaturaEletronica">
        <xsd:sequence>
          <xsd:element name="hash" nillable="true" type="soapenc:string" />
          <xsd:element name="informacoes" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="soapenc:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DadosScript">
        <xsd:sequence>
          <xsd:element name="textoScript" nillable="true" type="soapenc:string" />
          <xsd:element name="tipo" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDadosScript">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:DadosScript[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GeracaoPropostaRetorno">
        <xsd:sequence>
          <xsd:element name="dadosAssinaturaEletronica" nillable="true" type="tns1:DadosAssinaturaEletronica" />
          <xsd:element name="excecaoDeRegraDeNegocio" type="xsd:boolean" />
          <xsd:element name="excecaoGenerica" type="xsd:boolean" />
          <xsd:element name="mensagemDeErro" nillable="true" type="soapenc:string" />
          <xsd:element name="numeroPropostaGerada" nillable="true" type="soapenc:string" />
          <xsd:element name="numerosPropostasGeradasAutomaticamente" nillable="true" type="tns1:ArrayOfString" />
          <xsd:element name="scripts" nillable="true" type="tns1:ArrayOfDadosScript" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValidacaoPropostaRetorno">
        <xsd:sequence>
          <xsd:element name="excecaoDeRegraDeNegocio" type="xsd:boolean" />
          <xsd:element name="excecaoGenerica" type="xsd:boolean" />
          <xsd:element name="mensagemDeErro" nillable="true" type="soapenc:string" />
          <xsd:element name="stacktrace" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DevolucaoPropostaLojistaParceiroWebServiceParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns2:WebServiceBaseParameter">
            <xsd:sequence>
              <xsd:element name="indicaDevolucaoParcial" nillable="true" type="xsd:boolean" />
              <xsd:element name="numeroExterno" nillable="true" type="soapenc:int" />
              <xsd:element name="valorDevolucao" nillable="true" type="soapenc:double" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MatriculaFormatacaoInvalidaException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns6:ConsigBusinessException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DevolucaoPropostaLojistaParceiroParameter">
        <xsd:sequence>
          <xsd:element name="erro" nillable="true" type="xsd:boolean" />
          <xsd:element name="excecao" nillable="true" type="xsd:anyType" />
          <xsd:element name="mensagem" nillable="true" type="soapenc:string" />
          <xsd:element name="resultado" nillable="true" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://parameter.common.econsig.bmg.com">
      <xsd:import namespace="http://exception.common.consig.bmg.com" />
      <xsd:import namespace="http://model.common.econsig.bmg.com" />
      <xsd:import namespace="http://webservice.econsig.bmg.com" />
      <xsd:import namespace="http://localhost:8080/webservices/SaqueComplementar" />
      <xsd:import namespace="http://lang.java" />
      <xsd:import namespace="http://parameter.consignacao.econsig.bmg.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="WebServiceBaseParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:WebServiceParameter">
            <xsd:sequence>
              <xsd:element name="loginConsig" nillable="true" type="soapenc:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://parameter.consignacao.econsig.bmg.com">
      <xsd:import namespace="http://exception.common.consig.bmg.com" />
      <xsd:import namespace="http://model.common.econsig.bmg.com" />
      <xsd:import namespace="http://webservice.econsig.bmg.com" />
      <xsd:import namespace="http://localhost:8080/webservices/SaqueComplementar" />
      <xsd:import namespace="http://lang.java" />
      <xsd:import namespace="http://parameter.common.econsig.bmg.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="BoletoParameter">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:AbstractWebServicesParameter">
            <xsd:sequence>
              <xsd:element name="cedente" nillable="true" type="soapenc:string" />
              <xsd:element name="dataVencimento" nillable="true" type="xsd:dateTime" />
              <xsd:element name="descricaoPagamento" nillable="true" type="soapenc:string" />
              <xsd:element name="linhaDigitavel" nillable="true" type="soapenc:string" />
              <xsd:element name="sacado" nillable="true" type="soapenc:string" />
              <xsd:element name="tipoPagamento" nillable="true" type="soapenc:string" />
              <xsd:element name="valorPagamento" nillable="true" type="soapenc:double" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/webservices/SaqueComplementar">
      <xsd:import namespace="http://exception.common.consig.bmg.com" />
      <xsd:import namespace="http://model.common.econsig.bmg.com" />
      <xsd:import namespace="http://webservice.econsig.bmg.com" />
      <xsd:import namespace="http://lang.java" />
      <xsd:import namespace="http://parameter.consignacao.econsig.bmg.com" />
      <xsd:import namespace="http://parameter.common.econsig.bmg.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns1_EletroParameter">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:EletroParameter[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_anyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:anyType[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model.common.econsig.bmg.com">
      <xsd:import namespace="http://exception.common.consig.bmg.com" />
      <xsd:import namespace="http://webservice.econsig.bmg.com" />
      <xsd:import namespace="http://localhost:8080/webservices/SaqueComplementar" />
      <xsd:import namespace="http://lang.java" />
      <xsd:import namespace="http://parameter.consignacao.econsig.bmg.com" />
      <xsd:import namespace="http://parameter.common.econsig.bmg.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="WebServiceBean" abstract="true">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://exception.common.consig.bmg.com">
      <xsd:import namespace="http://model.common.econsig.bmg.com" />
      <xsd:import namespace="http://webservice.econsig.bmg.com" />
      <xsd:import namespace="http://localhost:8080/webservices/SaqueComplementar" />
      <xsd:import namespace="http://lang.java" />
      <xsd:import namespace="http://parameter.consignacao.econsig.bmg.com" />
      <xsd:import namespace="http://parameter.common.econsig.bmg.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ConsigBusinessException" abstract="true">
        <xsd:sequence>
          <xsd:element name="bypassable" type="xsd:boolean" />
          <xsd:element name="key" nillable="true" type="soapenc:string" />
          <xsd:element name="values" nillable="true" type="intf:ArrayOf_xsd_anyType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="gravarPropostaSaqueComplementarResponse">
    <wsdl:part name="gravarPropostaSaqueComplementarReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="geraScriptIdentificacaoRequest">
    <wsdl:part name="param" type="tns1:ScriptIdentificacaoParameter" />
  </wsdl:message>
  <wsdl:message name="gravaPropostaSaqueComplementarRequest">
    <wsdl:part name="param" type="tns1:SaqueComplementarParameter" />
  </wsdl:message>
  <wsdl:message name="buscarLimiteSaqueResponse">
    <wsdl:part name="buscarLimiteSaqueReturn" type="tns1:LimiteSaqueRetorno" />
  </wsdl:message>
  <wsdl:message name="validaSeJaPossuiContaCartaoRequest">
    <wsdl:part name="param" type="tns1:ValidaSeJaPossuiContaCartaoParameter" />
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" type="tns1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="obtemSituacoesFuncionaisParaOOrgaoResponse">
    <wsdl:part name="obtemSituacoesFuncionaisParaOOrgaoReturn" type="tns1:SituacaoFuncionalReturn" />
  </wsdl:message>
  <wsdl:message name="geraScriptRequest">
    <wsdl:part name="proposta" type="tns1:SaqueComplementarParameter" />
  </wsdl:message>
  <wsdl:message name="buscarLimiteSaqueRequest">
    <wsdl:part name="param" type="tns1:DadosCartaoParameter" />
  </wsdl:message>
  <wsdl:message name="realizarDevolucaoPropostaLojistaParceiroRequest">
    <wsdl:part name="parameter" type="tns1:DevolucaoPropostaLojistaParceiroWebServiceParameter" />
  </wsdl:message>
  <wsdl:message name="PropostaConsignacaoListException">
    <wsdl:part name="PropostaConsignacaoListException" type="tns1:PropostaConsignacaoListException" />
  </wsdl:message>
  <wsdl:message name="MatriculaFormatacaoInvalidaException" />
  <wsdl:message name="validaSeJaPossuiContaCartaoResponse">
    <wsdl:part name="validaSeJaPossuiContaCartaoReturn" type="tns1:ValidaSeJaPossuiContaCartaoRetorno" />
  </wsdl:message>
  <wsdl:message name="geraScriptIdentificacaoResponse">
    <wsdl:part name="geraScriptIdentificacaoReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="realizarDevolucaoPropostaLojistaParceiroResponse">
    <wsdl:part name="realizarDevolucaoPropostaLojistaParceiroReturn" type="tns1:DevolucaoPropostaLojistaParceiroParameter" />
  </wsdl:message>
  <wsdl:message name="obtemProdutosDeSeguroRequest">
    <wsdl:part name="param" type="tns1:ObtemProdutosDeSeguroParameter" />
  </wsdl:message>
  <wsdl:message name="gravaPropostaSaqueComplementarResponse">
    <wsdl:part name="gravaPropostaSaqueComplementarReturn" type="tns1:GeracaoPropostaRetorno" />
  </wsdl:message>
  <wsdl:message name="validaPropostaSaqueComplementarRequest">
    <wsdl:part name="param" type="tns1:SaqueComplementarParameter" />
  </wsdl:message>
  <wsdl:message name="buscarCartoesDisponiveisResponse">
    <wsdl:part name="buscarCartoesDisponiveisReturn" type="tns1:CartaoDisponivelRetorno" />
  </wsdl:message>
  <wsdl:message name="gravarPropostaSaqueComplementarRequest">
    <wsdl:part name="proposta" type="tns1:SaqueComplementarParameter" />
  </wsdl:message>
  <wsdl:message name="obtemProdutosDeSeguroResponse">
    <wsdl:part name="obtemProdutosDeSeguroReturn" type="tns1:ObtemProdutosDeSeguroRetorno" />
  </wsdl:message>
  <wsdl:message name="validaPropostaSaqueComplementarResponse">
    <wsdl:part name="validaPropostaSaqueComplementarReturn" type="tns1:ValidacaoPropostaRetorno" />
  </wsdl:message>
  <wsdl:message name="obtemSituacoesFuncionaisParaOOrgaoRequest">
    <wsdl:part name="param" type="tns1:SituacaoFuncionalParameter" />
  </wsdl:message>
  <wsdl:message name="buscarCartoesDisponiveisRequest">
    <wsdl:part name="param" type="tns1:CartaoDisponivelParameter" />
  </wsdl:message>
  <wsdl:message name="geraScriptResponse">
    <wsdl:part name="geraScriptReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:portType name="SaqueComplementarWebService">
    <wsdl:operation name="buscarCartoesDisponiveis" parameterOrder="param">
      <wsdl:input name="buscarCartoesDisponiveisRequest" message="intf:buscarCartoesDisponiveisRequest" />
      <wsdl:output name="buscarCartoesDisponiveisResponse" message="intf:buscarCartoesDisponiveisResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="buscarLimiteSaque" parameterOrder="param">
      <wsdl:input name="buscarLimiteSaqueRequest" message="intf:buscarLimiteSaqueRequest" />
      <wsdl:output name="buscarLimiteSaqueResponse" message="intf:buscarLimiteSaqueResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="gravarPropostaSaqueComplementar" parameterOrder="proposta">
      <wsdl:input name="gravarPropostaSaqueComplementarRequest" message="intf:gravarPropostaSaqueComplementarRequest" />
      <wsdl:output name="gravarPropostaSaqueComplementarResponse" message="intf:gravarPropostaSaqueComplementarResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
      <wsdl:fault name="PropostaConsignacaoListException" message="intf:PropostaConsignacaoListException" />
      <wsdl:fault name="MatriculaFormatacaoInvalidaException" message="intf:MatriculaFormatacaoInvalidaException" />
    </wsdl:operation>
    <wsdl:operation name="geraScript" parameterOrder="proposta">
      <wsdl:input name="geraScriptRequest" message="intf:geraScriptRequest" />
      <wsdl:output name="geraScriptResponse" message="intf:geraScriptResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
      <wsdl:fault name="PropostaConsignacaoListException" message="intf:PropostaConsignacaoListException" />
      <wsdl:fault name="MatriculaFormatacaoInvalidaException" message="intf:MatriculaFormatacaoInvalidaException" />
    </wsdl:operation>
    <wsdl:operation name="geraScriptIdentificacao" parameterOrder="param">
      <wsdl:input name="geraScriptIdentificacaoRequest" message="intf:geraScriptIdentificacaoRequest" />
      <wsdl:output name="geraScriptIdentificacaoResponse" message="intf:geraScriptIdentificacaoResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="validaSeJaPossuiContaCartao" parameterOrder="param">
      <wsdl:input name="validaSeJaPossuiContaCartaoRequest" message="intf:validaSeJaPossuiContaCartaoRequest" />
      <wsdl:output name="validaSeJaPossuiContaCartaoResponse" message="intf:validaSeJaPossuiContaCartaoResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="obtemProdutosDeSeguro" parameterOrder="param">
      <wsdl:input name="obtemProdutosDeSeguroRequest" message="intf:obtemProdutosDeSeguroRequest" />
      <wsdl:output name="obtemProdutosDeSeguroResponse" message="intf:obtemProdutosDeSeguroResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="obtemSituacoesFuncionaisParaOOrgao" parameterOrder="param">
      <wsdl:input name="obtemSituacoesFuncionaisParaOOrgaoRequest" message="intf:obtemSituacoesFuncionaisParaOOrgaoRequest" />
      <wsdl:output name="obtemSituacoesFuncionaisParaOOrgaoResponse" message="intf:obtemSituacoesFuncionaisParaOOrgaoResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="gravaPropostaSaqueComplementar" parameterOrder="param">
      <wsdl:input name="gravaPropostaSaqueComplementarRequest" message="intf:gravaPropostaSaqueComplementarRequest" />
      <wsdl:output name="gravaPropostaSaqueComplementarResponse" message="intf:gravaPropostaSaqueComplementarResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="validaPropostaSaqueComplementar" parameterOrder="param">
      <wsdl:input name="validaPropostaSaqueComplementarRequest" message="intf:validaPropostaSaqueComplementarRequest" />
      <wsdl:output name="validaPropostaSaqueComplementarResponse" message="intf:validaPropostaSaqueComplementarResponse" />
      <wsdl:fault name="ServiceException" message="intf:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="realizarDevolucaoPropostaLojistaParceiro" parameterOrder="parameter">
      <wsdl:input name="realizarDevolucaoPropostaLojistaParceiroRequest" message="intf:realizarDevolucaoPropostaLojistaParceiroRequest" />
      <wsdl:output name="realizarDevolucaoPropostaLojistaParceiroResponse" message="intf:realizarDevolucaoPropostaLojistaParceiroResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaqueComplementarSoapBinding" type="intf:SaqueComplementarWebService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="buscarCartoesDisponiveis">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="buscarCartoesDisponiveisRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="buscarCartoesDisponiveisResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscarLimiteSaque">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="buscarLimiteSaqueRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="buscarLimiteSaqueResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="gravarPropostaSaqueComplementar">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="gravarPropostaSaqueComplementarRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="gravarPropostaSaqueComplementarResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="PropostaConsignacaoListException">
        <wsdlsoap:fault use="encoded" name="PropostaConsignacaoListException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="MatriculaFormatacaoInvalidaException">
        <wsdlsoap:fault use="encoded" name="MatriculaFormatacaoInvalidaException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="geraScript">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="geraScriptRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="geraScriptResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="PropostaConsignacaoListException">
        <wsdlsoap:fault use="encoded" name="PropostaConsignacaoListException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="MatriculaFormatacaoInvalidaException">
        <wsdlsoap:fault use="encoded" name="MatriculaFormatacaoInvalidaException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="geraScriptIdentificacao">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="geraScriptIdentificacaoRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="geraScriptIdentificacaoResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validaSeJaPossuiContaCartao">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="validaSeJaPossuiContaCartaoRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="validaSeJaPossuiContaCartaoResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtemProdutosDeSeguro">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="obtemProdutosDeSeguroRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="obtemProdutosDeSeguroResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtemSituacoesFuncionaisParaOOrgao">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="obtemSituacoesFuncionaisParaOOrgaoRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="obtemSituacoesFuncionaisParaOOrgaoResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="gravaPropostaSaqueComplementar">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="gravaPropostaSaqueComplementarRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="gravaPropostaSaqueComplementarResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validaPropostaSaqueComplementar">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="validaPropostaSaqueComplementarRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="validaPropostaSaqueComplementarResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault use="encoded" name="ServiceException" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="realizarDevolucaoPropostaLojistaParceiro">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="realizarDevolucaoPropostaLojistaParceiroRequest">
        <wsdlsoap:body use="encoded" namespace="http://webservice.econsig.bmg.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="realizarDevolucaoPropostaLojistaParceiroResponse">
        <wsdlsoap:body use="encoded" namespace="http://localhost:8080/webservices/SaqueComplementar" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaqueComplementarWebServiceService">
    <wsdl:port name="SaqueComplementar" binding="intf:SaqueComplementarSoapBinding">
      <wsdlsoap:address location="http://ws1.bmgconsig.com.br/webservices/SaqueComplementar" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>